<div class="example-form">
    <input matInput #uid placeholder="Nom du channel">
    <input matInput #description placeholder="Description">
    <input matInput #subtitle placeholder="Sous-titre">
    <input matInput #cover placeholder="URL de l'image de couverture">
    <button class="btn waves-effect waves-light indigo" matButton (click)="createChannel()">Créer le channel</button>
    <!--check if class="btn waves-effect waves-light indigo" is causing issue-->
</div>