// DARK
[_header] {
    position : fixed;
    z-index : 1;
    background-color : #292929;
    left : 15%;
    width : 85%;
    // right : 10%;
    height : 50px;
    top : 0px;
    padding-left : 30px;
    color : white;
    font-family : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    letter-spacing: 5px;
}

// LIGHT
[_header].light {
    position : fixed;
    background-color : rgb(101, 153, 230);
    left : 15%;
    width : 85%;
    // right : 10%;
    height : 50px;
    top : 0px;
    padding-left : 30px;
    color : white;
    font-family : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif, Helvetica, sans-serif;
    letter-spacing: 5px;
}
